click
sanic
sanic-graphql
graphql-core
gql
git+ssh://git@github.com/graphql-python/graphql-ws.git#egg=graphql-ws
sqlalchemy
sqlalchemy-utils
graphene-sqlalchemy

# Dev/Deployment
sphinx
sphinx_rtd_theme
nose
coverage
pypi-publisher
hupper
